<html>
    <header>
        <title>
               Lottery prize generator
        </title>
    </header>

    <body>
        <h1>
            lotteries  
        </h1>
        <p> 
             Lucky number is {{ numbers }}
             <br>
             your colour is {{ colours }}
             <br>
             your prize is {{ prize }}
             <br>
        </p>
        <p>
         Your lottery: 
         <br>
            {% for p in all_prizes %}
            {{ p.Prize }}  
        <br> 
        {% endfor %}
    </body>
</html>  